.main-input {
  outline: none;
  border: none;
  border: 1px solid #efefef;
  padding: 5px;
  width: 100%;
  border-radius: 0.4em;
  margin-bottom: 10px;
}
.fake-placeholder-container {
  position: relative;
  input {
    position: relative;
    z-index: 2;
    background: transparent;
  }
  .fake-placeholder {
    position: absolute;
    left: 10px;
    top: 5px;
    color: #aaa;
    z-index: 1;
  }
}
