.Chatbot{
    margin-top: 50px;
   
    text-align: center;
        .Chatbot-header{
            margin-bottom: 50px;
            h1{
                font-weight: bolder;
                color:rgb(78, 78, 78);
            }
            p{
                font-size:14px;
                
            }
           }
    
}