.CheapestTickets{
    
    @media (max-width: 991.98px) {
        margin-bottom: 30px;
      }
    .card{
        border-radius: 25px;
        width:90%;
        margin-left: 5%;
       
        img{
            width:80px;
            height: 80px;
            margin:7% 0 7% 37%;
        }
        .card-body{
            margin-bottom: 10px;
        }
    }
}