.OurTrips {
  background-color: rgb(219, 219, 219);

  .add-trip {
    height: 200px;
    width: 100%;
    border-radius: 20px;
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
    }

    h1 {
      font-weight: bolder;
      font-size: 40px;
      text-align: center;
      cursor: pointer;
    }

    h4 {
      text-align: center;
    }
  }

  .card {
    height: 200px;
    width: 100%;
    border-radius: 20px;
    margin-top: 30px;

    .Catalonia {
      height: 100%;
      position: relative;
      background-size: 100% 100%;

      .Catalonia-img {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        border-radius: 20px;

        img {
          height: 100%;
          width: 100%;
          border-radius: 20px;
          border-radius: 20px;
        }
      }

      .Catalonia-overlay {
        border-radius: 20px;
        position: absolute;
        z-index: 2;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;

        img {
          margin-top: 10px;
          margin-left: 46%;
        }

        h3 {
          color: white;
          margin-top: 10px;
          text-align: center;
        }

        h5 {
          color: white;
          text-align: center;
          margin-top: 10px;

          @media (max-width: 1199.98px) {
            margin-top: 5px;
          }
        }

        h6 {
          color: white;
          text-align: right;

        }
      }

      .activties {
        position: absolute;
        z-index: 2;
        bottom: 25px;
        left: 11%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        @media (max-width: 1199.98px) {
          bottom: 20px;
        }

        @media (max-width: 991.98px) {
          left: 33%;
          bottom: 25px;
        }

        @media (max-width: 767.98px) {
          left: 30%;
        }

        @media (max-width: 575.98px) {
          left: 23%;
        }

        span {
          color: white;
          width: 55px;
          display: inline-block;
          margin-right: 15px;
          border: solid .5px white;
          border-radius: 5px;
          padding: 2px 0 2px 0;
          text-align: center;
          cursor: pointer;

          @media (max-width: 1199.98px) {
            margin-top: 10px;

          }

        }
      }
    }
  }
}