.StaffMember{
    height: 100px;
    width:100%;
    border-radius: 20px;
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    h2{
        text-align: center;
        color:gray;
    }
    h3{
        text-align: center;
        color:gray;
    }
}